trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:

# Checkout code
- checkout: self

# Run Maven tests (TestNG + Selenium + REST Assured)
- task: Maven@4
  displayName: "Run Selenium + TestNG + REST Assured Tests"
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean test'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/testng-results.xml'

# Publish TestNG test results in Azure DevOps
- task: PublishTestResults@2
  displayName: "Publish TestNG Results"
  inputs:
    testResultsFiles: '**/surefire-reports/testng-results.xml'
    testRunTitle: 'Automation Test Execution - Selenium + API'
    mergeTestResults: true

# Optional: Publish Selenium screenshots or logs on failure
- task: PublishBuildArtifacts@1
  displayName: "Publish Screenshots & Logs"
  inputs:
    PathtoPublish: 'target'
    ArtifactName: 'AutomationArtifacts'
    publishLocation: 'Container'
