# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- checkout: self
- task: Maven@4
  displayName: "Run API Automation Tests"
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean test'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
<<<<<<< HEAD
    goals: 'package'
	
	- script: |
		    mvn clean install
		  displayName: 'Build the project'

		- script: |
		    mvn test
		  displayName: 'Run TestNG Tests'

=======
- task: PublishTestResults@2
  displayName: "Publish JUnit/TestNG Results"
  inputs:
    testResultsFiles: '**/surefire-reports/*.xml'
    testRunTitle: 'REST Assured API Automation'
    mergeTestResults: true
>>>>>>> dbdeed5c7ca5fac8e69ef4a40f7868823e684f17
