# Maven
# Build Java project and run REST Assured API Automation tests

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- checkout: self

# Run Maven tests
- task: Maven@4
  displayName: "Run API Automation Tests"
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean test'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'

# Publish test results
- task: PublishTestResults@2
  displayName: "Publish JUnit/TestNG Results"
  inputs:
    testResultsFiles: '**/surefire-reports/*.xml'
    testRunTitle: 'REST Assured API Automation'
    mergeTestResults: true